

/*-----------------------------------------------------------------------*/
#wrap {
    height: 100vh;
    text-align: center;
}



#header {
    padding: 0 50px;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background: #000;
}
.container {
    display: block !important;
}

#page-content {
    overflow: hidden;
    margin-top: 100px;
    position: relative;
}
#map-container {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
p {
    padding-bottom: 30px;
}
#btn-home {
    float: left;
    margin-left: 33px;
}
#view3d-container {
    padding-top: 55px;
}

#sectionBtn{
    float: left;
    margin-left: 20px;
}
#dateInfo{
margin-left:50%;
}